
src/NadekoBot/credentials\.json

src/NadekoBot/credentials_example\.json

NadekoBot\.Core/bin/

docs/

src/NadekoBot/obj/project\.assets\.json

src/NadekoBot/obj/EvilMortyBot\.csproj\.nuget\.g\.targets

src/NadekoBot/obj/EvilMortyBot\.csproj\.nuget\.g\.props

src/NadekoBot/obj/EvilMortyBot\.csproj\.nuget\.cache

src/NadekoBot/obj/Debug/

src/NadekoBot/bin/Debug/

NadekoBot\.Tests/obj/Debug/

NadekoBot\.Tests/obj/

NadekoBot\.Core/obj/

\.vs/EvilMortyBot/DesignTimeBuild/\.dtbcache

\.vs/EvilMortyBot/v15/Server/sqlite3/db\.lock

\.vs/EvilMortyBot/v15/Server/sqlite3/storage\.ide

\.vs/EvilMortyBot/v15/Server/sqlite3/storage\.ide-shm

\.vs/EvilMortyBot/v15/\.suo

\.vs/EvilMortyBot/v15/Server/sqlite3/storage\.ide-wal
